@font-face {
  font-family: Inter;
  src: url(../Fonts/Inter-Regular.otf);
}
@font-face {
  font-family: Forum;
  src: url(../Fonts/Forum-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.header {
  display: block;
  width: 100%;
}
.menu {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #0c0c0e;
}
.nav-profile {
  display: flex;
  width: 70%;
  margin: 0 20px;
  justify-content: flex-end;
}
.name {
  width: 30%;
  margin: 0 20px;
}
.heading {
  color: #fff;
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.nav {
  display: flex;
  list-style: none;
}
.nav li a {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  text-decoration: none;
  padding: 0 30px 0 0;
}
.icon {
  display: flex;
  height: 28px;
  font-size: 50px;
}
.back {
  height: 600px;
  overflow: hidden;
  position: relative;
}
.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.shadow {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 300px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 100%
  );
}
.welcom-bg {
  position: absolute;
  top: 220px;
  z-index: 1;
  background: #000;
  display: flex;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* begin main */
.main {
  display: block;
  width: 100%;
}
/* section about */
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  margin: 20px;
}
h2 {
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.line-main {
  width: 50px;
  height: 1px;
  background-color: #0c0c0e;
}
.text-about {
  margin: 40px 0 20px 0;
}
.text-about {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.slider {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.pagination-about {
  display: flex;
  margin: 40px;
  width: 68px;
  height: 16px;
  justify-content: space-between;
}
.button {
  background-origin: content-box;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #0c0c0e;
  transition: 0.2s linear;
}
.button-r {
  background-origin: content-box;
  display: flex;
  justify-content: center;
  width: 26px;
}
.button:hover {
  background-color: #bb945f;
}
.button-r:hover {
  cursor: pointer;
}
/* section Favorites */
.favorites {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sub-pag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.subtitle-favorites {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 20px;
}
.pagination-favorites {
  display: flex;
  width: 100%;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin: 20px 20px;
}
.pag-fav-in {
  padding: 0 90px 0 0;
}
input {
  cursor: pointer;
}
label {
  padding: 0 0 0 20px;
  cursor: pointer;
}
.all-bg-description {
  display: flex;
  width: 100%;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bg-description {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  position: relative;
  align-content: space-between;
}
.name-bg-description {
  display: flex;
  width: 355px;
  margin: 20px 0 0 20px;
  flex-direction: column;
}
h3 {
  font-family: Forum;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.line-bg-description {
  width: 60px;
  height: 1px;
  background-color: #bb945f;
  margin: 0 0 20px;
}
.text-bg-description-all {
  margin: 0 0 20px;
}
h4 {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.sub-bg-des {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}
.text-bg-description {
  margin: 0 auto;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.button-bg-description {
  position: absolute;
  top: 510px;
  width: 75px;
  height: 30px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.2s linear;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
}
.button-bg-description:hover {
  border-radius: 2px;
  border: 1px solid #bb945f;
  background: #bb945f;
  cursor: pointer;
}
.button-bg-description-dis {
  position: absolute;
  top: 510px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #bb945f;
  color: #bb945f;
}
.img-bg-description {
  display: block;
  position: absolute;
  left: 410px;
  top: 254px;
}
.bg-description-right {
  margin: 20px 80px;
}
/* section Coffee Shop */
.coffee-shop {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}
.text-coffee-shop {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 40px 0;
}
.name-menu-cs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.text-menu-cs {
  display: block;
  width: 199px;
}
.menu-line {
  display: flex;
  align-items: center;
  width: 241px;
  justify-content: flex-end;
}
.all-menu-cs {
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  gap: 40px;
}
.all-menu-cs-right {
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  gap: 40px;
  align-items: flex-end;
}
h5 {
  color: #bb945f;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.menu-cs {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 60px; */
  font-family: Inter;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}
.line-cs {
  width: 100px;
  height: 1px;
  background: #bb945f;
  margin: 0 60px 0 0;
}
.menu-cs-r {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-family: Inter;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}
.line-cs-r {
  width: 100px;
  height: 1px;
  background: #bb945f;
  /* margin: 0 60px 0 0; */
}
.our-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}
.contacts-all {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0 0 0;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
.maps {
  display: flex;
}
.subtitle-contacts {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}
.text-sub-contact {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 40px 0;
}
.text-sub-contact2 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.tel-cotnact {
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}
